/Waveform/.pio/
/WaveformScreens/.pio/
/.superpowers/
/.remember/
/.codex/
/esp-idf/
/esp-idf-tools/
/esp-idf-component-cache/
/esp-iot-solution/
/lv_micropython/
/.pip-cache/
/.pydeps/
Locket/.pio/
Reboot/.pio/
VendorAudioDemo/.pio/
Locket/tmp/
WaveformScreens/.pio
